{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <div class="col-4 mx-auto">
        <div class="row">
            <div class="justify-content-center">
                <img src="/media/{{ user.avatar|default:'users_avatars/default_avatar.svg' }}" class="img-fluid rounded-circle">
            </div>
        </div>
    <div class="row">
        <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <button class="btn btn-round form-control last"></button>
    </div>
    </div>
{% endblock %}