<ul class="links-menu">
    {% for category in categories %}
        {% if category.id == request.resolver_match.kwargs.pk|add:0 %}
            <li><a href="{{ category.id }}" class="active">{{ category.name }}</a></li>
        {% elif not request.resolver_match.kwargs and category.id == 1 %}
            <li><a href="{{ category.id }}" class="active">{{ category.name }}</a></li>
        {% else %}
            <li><a href="{{ category.id }}">{{ category.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
