{% load static %}
<div class="related">
    <div class="title clearfix">
        <h2>Похожие продукты</h2>
        <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png'%}" alt="img"></a>
    </div>
    <div class="related-products clearfix">
        {% for block in related_products %}
        <div class="block">
            <a href="#"><img src="{% static block %}" alt="block_img">
                <div class="text">
                    <img src="{% static 'img/icon-hover.png'%}" alt="img">
                    <h4>Стул повышенного качества</h4>
                    <p>Не оторваться. </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>