{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Продукт</th>
                        <th scope="col">Цена за ед.</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in basket %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.product }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.position_price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}